body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #363535;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.title {
    font-size: 24px;
    color: rgb(194, 158, 112);
    margin-bottom: 20px;
    text-align: center;
}
.form-label {
    font-weight: bold;
    color: #b8b6b6;
}
.form-control, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-textarea {
    resize: vertical;
    height: 100px;
}
textarea::placeholder {
    font-size: 1.2em;
    font-style: italic;
}
.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover {
    background-color: #810303;
}
.btn:last-of-type {
    background-color: #6c757d;
    margin-left: 10px;
}
.btn:last-of-type:hover {
    background-color: #439489;
}